### Heroes Of Pymoli Data Cleansing & Preparation

##### Input File:
* raw_purchase_data.csv

##### Output File:
* clean_purchase_data.csv

##### Cleansing & Preparation Process:
* SEE: http://localhost:8890/notebooks/UTAUS201810DATA2-copy/04_Pandas/2/Activities/03-Ins_CleaningData/Solved/CleaningData.ipynb

* 

* 
-----

In [15]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = '../data/raw_purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data)

In [16]:
# Preview the data frame
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
# Check rows for missing data
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [21]:
# Check data types
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [12]:
# Rename 'SN' column to 'Player'
purchase_df = purchase_df.rename(columns={'SN': 'Player'})
purchase_df.head()

,Purchase ID,Player,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
# Display an overview of the Gender column
purchase_df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [29]:
purchase_df['Item ID'].nunique()
#purchase_df['Item Name'].nunique()

183

In [26]:
# Display a statistical overview
purchase_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [14]:
# Save and export clean data as a new .csv file, without the Pandas index, but with the header
purchase_df.to_csv('../data/clean_purchase_data.csv', index=False, header=True)