## Heroes Of Pymoli Data Analysis

###### Purpose
###### Dataset
* clean_purchase_data.csv
_____

##### Analysis (Observable Trends):
* 

* 

* 
_____

##### Documentation
* <unique_items>
* <average_price>
* <total_purchases>
* <total_revenue>
* <total_players>
_____

### Setup

In [1]:
# Dependencies
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = 'data/clean_purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data)

In [2]:
# Print the first five rows of data to the screen for reference
purchase_df.head()

,Purchase ID,Player,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

_____
### Player Count
* Display the total number of players

In [3]:
# Calculate total number of unique players
total_players = purchase_df['Player'].nunique(dropna=True)

In [6]:
# Display number of unique players in a df
pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

_____

### Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Basic Calculations stored in variables:

# Number of unique items
unique_items = purchase_df['Item ID'].nunique()

# Average price
average_price = purchase_df['Price'].mean()

# Number of purchases
total_purchases = purchase_df['Purchase ID'].count()

# Total revenue
total_revenue = purchase_df['Price'].sum()

In [10]:
# Create and display a summary data frame using above values
totals_summary_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                           'Average Price': '${:,.2f}'.format(average_price),
                           'Number of Purchases': [total_purchases],
                           'Total Revenue': '${:,.2f}'.format(total_revenue)})

totals_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

_____

### Gender Demographics
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
# Create new df and drop duplicate rows
gender_unique_df = purchase_df[['Gender','Player']].drop_duplicates()
gender_unique_df.head()

  Gender         Player
0   Male        Lisim78
1   Male    Lisovynya38
2   Male     Ithergue48
3   Male  Chamassasya86
4   Male      Iskosia90

In [12]:
# Calculate unique counts for each gender
gender_counts = gender_unique_df['Gender'].value_counts()

In [13]:
# Summarize and display results
gender_summary_df = pd.DataFrame({'Total Count': gender_unique_df['Gender'].value_counts(),
                                 'Percentage of Players': (gender_counts / total_players * 100).round(2)})
gender_summary_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


_____

### Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
# Basic Calculations stored in variables:

# Purchase count
gender_purchase_count = purchase_df.groupby(['Gender']).count()['Purchase ID']

# Average purchase price
gender_average_price = purchase_df.groupby(['Gender']).mean()['Price']

# Total purchase value
gender_purchase_value = purchase_df.groupby(['Gender']).sum()['Price']

# Average total purchase per person
gender_average_total = gender_purchase_value / gender_summary_df['Total Count']

In [37]:
# Create and display a summary data frame using above values
gender_data = pd.DataFrame({'Purchase Count': gender_purchase_count.map('{:,}'.format),
                           'Average Purchase Price': gender_average_price.map('${:,.2f}'.format),
                           'Total Purchase Value': gender_purchase_value.map('${:,.2f}'.format),
                           'Avg Total Purchase per Person': gender_average_total})

# Format 'Avg Total Purchase per Person'
gender_data['Avg Total Purchase per Person'] = gender_data['Avg Total Purchase per Person'].map('${:,.2f}'.format)

gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [38]:
# # @TODO: Unable to format Avg Total Purchase per Person in line like the other columns, but munging on its own works; need to change dtype from float64 to object?

# # Check dtypes
# gender_data.dtypes


_____

### Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table


_____

### Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame


_____

### Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame


______

### Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame


_____

### Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame