## Heroes Of Pymoli Data Analysis

###### Purpose
###### Dataset
* clean_purchase_data.csv
_____

##### Analysis (Observable Trends):
* 

* 

* 
_____

##### Documentation
* <unique_items>
* <average_price>
* <total_purchases>
* <total_revenue>
* <total_players>
_____

### Setup

In [1]:
# Dependencies
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = 'data/clean_purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data)

In [2]:
# Print the first five rows of data to the screen for reference
purchase_df.head()

,Purchase ID,Player,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

_____
### Player Count
* Display the total number of players

In [3]:
# Calculate total number of unique players
total_players = purchase_df['Player'].nunique(dropna=True)

In [4]:
# Display number of unique players in a df
pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

_____

### Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Basic Calculations stored in variables:

# Number of unique items
unique_items = purchase_df['Item ID'].nunique()

# Average price
average_price = purchase_df['Price'].mean()

# Number of purchases
total_purchases = purchase_df['Purchase ID'].count()

# Total revenue
total_revenue = purchase_df['Price'].sum()

In [6]:
# Create and display a summary data frame using above values
totals_summary_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                           'Average Price': '${:,.2f}'.format(average_price),
                           'Number of Purchases': [total_purchases],
                           'Total Revenue': '${:,.2f}'.format(total_revenue)})

totals_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

_____

### Gender Demographics
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Create new df and drop duplicate rows
gender_unique_df = purchase_df[['Gender','Player']].drop_duplicates()
gender_unique_df.head()

  Gender         Player
0   Male        Lisim78
1   Male    Lisovynya38
2   Male     Ithergue48
3   Male  Chamassasya86
4   Male      Iskosia90

In [8]:
# Calculate unique counts for each gender
gender_counts = gender_unique_df['Gender'].value_counts()

In [9]:
# Summarize and display results
gender_summary_df = pd.DataFrame({'Total Count': gender_unique_df['Gender'].value_counts(),
                                 'Percentage of Players': (gender_counts / total_players * 100).round(2)})
gender_summary_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


_____

### Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Basic Calculations stored in variables:

# Purchase count
gender_purchase_count = purchase_df.groupby(['Gender']).count()['Purchase ID']

# Average purchase price
gender_average_price = purchase_df.groupby(['Gender']).mean()['Price']

# Total purchase value
gender_purchase_value = purchase_df.groupby(['Gender']).sum()['Price']

# Average total purchase per person
gender_average_total = 1

In [12]:
# Create and display a summary data frame using above values
gender_data = pd.DataFrame({'Purchase Count': gender_purchase_count.map('{:,}'.format),
                           'Average Purchase Price': gender_average_price.map('${:,.2f}'.format),
                           'Total Purchase Value': gender_purchase_value.map('${:,.2f}'.format),
                           'Avg Total Purchase per Person': gender_average_total})
gender_data

# 'Avg Total Purchase per Person': gender_average_total.map('${:,.2f}'.format)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,1
Male,652,$3.02,"$1,967.64",1
Other / Non-Disclosed,15,$3.35,$50.19,1

In [18]:
def f2(x):
    d = {}
    d['Average Total Purchase per Person'] = x['Price'].sum() / x['Purchase ID'].count()
    return pd.Series(d, index=['Average Total Purchase per Person'])

purchase_df.groupby(['Gender', 'Player']).apply(f2)

                                      Average Total Purchase per Person
Gender                Player
Female                Adastirin33                              4.480000
                      Aerithllora36                            4.320000
                      Aethedru70                               3.540000
                      Aidain51                                 3.450000
                      Aiduesu86                                4.480000
                      Aillyrin83                               2.890000
                      Aisurdru79                               1.755000
                      Assilsan72                               4.900000
                      Assosia88                                1.330000
                      Baelollodeu94                            4.515000
                      Chadistaya75                             3.940000
                      Chamast86                                2.050000
                      Chamilsala65                             4.275000
                      Chamirrasya33                            1.525000
                      Chamjask73                               4.610000
                      Chanastsda67                             3.700000
                      Chanirra79                               1.010000
                      Chanjask65                               4.320000
                      Chanossast57                             4.320000
                      Errian63                                 3.490000
                      Eudanu32                                 2.850000
                      Eudanu84                                 1.020000
                      Eusri70                                  3.670000
                      Frichaststa61                            1.790000
                      Frichosia58                              4.430000
                      Frichosiala98                            3.540000
                      Haisurra41                               4.400000
                      Hari50                                   2.955000
                      Heosurnuru52                             2.230000
                      Heudai45                                 3.470000
...                                                                 ...
Male                  Yadanu52                                 2.380000
                      Yadaphos40                               2.675000
                      Yalae81                                  3.345000
                      Yalaeria91                               1.060000
                      Yaliru88                                 3.030000
                      Yalo85                                   3.650000
                      Yalostiphos68                            4.400000
                      Yarithllodeu72                           3.750000
                      Yarithrgue83                             3.450000
                      Yarithsurgue62                           4.940000
                      Yarolwen77                               4.430000
                      Yasrisu92                                3.440000
                      Yastyriaphos75                           4.750000
                      Yasur35                                  4.480000
                      Yasur85                                  1.100000
                      Yathecal72                               3.460000
                      Yathedeu43                               3.010000
                      Zhisrisu83                               3.945000
                      Zontibe81                                2.676667
Other / Non-Disclosed Airi27                                   3.450000
                      Chanosian48                              3.760000
                      Eodaisu60                                3.940000
                      Haerithp41                               4.400000
                      Idairin51                                3.500000
                      Jiskirran77                              3.390000
                      Lirtim36                                 1.330000
                      Maluncil97                               2.640000
                      Rairith81                                2.220000
                      Siarithria38                             3.455000
                      Sundim98                                 4.750000

[576 rows x 1 columns]

In [ ]:
def f(x):
    d = {}
    d['Purchase Count'] = x['Purchase ID'].count()
    d['Average Purchase Price'] = x['Price'].mean()
    d['Total Purchase Value'] = x['Price'].sum()
    return pd.Series(d, index=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person'])

purchase_df.groupby(['Gender']).apply(f)

# @TODO: Calculate d['Avg Total Purchase per Person'] = x[] and add to formula f


_____

### Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# SEE: http://localhost:8890/notebooks/UTAUS201810DATA2-copy/04_Pandas/3/Activities/03-Ins_Binning/Solved/Binning.ipynb


_____

### Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame


_____

### Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame


______

### Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame


_____

### Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame